body {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
img {
  border-radius: 50%;
  margin-right: 2em;
}

h2 {
  margin-top: 0;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;
}

p {
  text-align: left;
}

@media screen and (min-width: 500px) {
  article {
    flex-direction: row;
  }
}
